@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
}

.main {
    padding: 0;
    height: 100%;
    text-align: center;
    margin: 0;
}

.topbar {
    margin: 2rem
}

.title-topbar {
    font-family: 'Lobster', cursive;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #fff;
    font-size: 48px;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.content {
    background-color: #fff;
    width: 90%;
    margin: auto;
    padding: 2rem;
    color: #1b1b1b;
    border-radius: 1rem;
}

.btn-search {
    background-color: #1b1b1b;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem 1rem
}

.btn-search:hover {
    opacity: 0.7 !important;
    background-color: #1b1b1b !important;
}

.footer {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.dialog-response-fail>.p-dialog-header {
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #D01224;
}

.dialog-response-fail>.p-dialog-content {
    padding: 1rem;
}

.dialog-response-fail>.p-dialog-header>.p-dialog-header-icons>.p-dialog-header-icon {
    color: #fff;
}

@media screen and (max-width:768px) {
    .title-topbar {
        font-size: 36px;
    }
}

/* CSS CARD POKEMON */
.bg-normal {
	background-color: #A8A77A;
	color: #fff;
}

.bg-fire {
	background-color: #EE8130;
	color: #fff;
}

.bg-water {
	background-color: #6390F0;
	color: #fff;
}

.bg-electric {
	background-color: #F7D02C;
	color: #fff;
}

.bg-grass {
	background-color: #7AC74C;
	color: #fff;
}

.bg-ice {
	background-color: #96D9D6;
	color: #fff;
}

.bg-fighting {
	background-color: #C22E28;
	color: #fff;
}

.bg-poison {
	background-color: #A33EA1;
	color: #fff;
}

.bg-ground {
	background-color: #E2BF65;
	color: #fff;
}

.bg-flying {
	background-color: #A98FF3;
	color: #fff;
}

.bg-psychic {
	background-color: #F95587;
	color: #fff;
}

.bg-bug {
	background-color: #A6B91A;
	color: #fff;
}

.bg-rock {
	background-color: #B6A136;
	color: #fff;
}

.bg-ghost, .bg-shadow {
	background-color: #735797;
	color: #fff;
}

.bg-dragon {
	background-color: #6F35FC;
	color: #fff;
}

.bg-dark {
	background-color: #705746;
	color: #fff;
}

.bg-steel {
	background-color: #B7B7CE;
	color: #fff;
}

.bg-fairy {
	background-color: #D685AD;
	color: #fff;
}

.bg-unknown {
	background-color: #aaa;
	color: #fff;
}